#done-icon{
    width: 40px;
}

#final_pict{
    width: 50%;
    border-radius: 12px;
    
}

#url-box{
    box-sizing: border-box;
    background: #F6F8FB;
    /* Gray 5 */

    border: 1px solid #E0E0E0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
}