.title{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.035em;
    
    color: #4F4F4F;
}

.button{
    background: #2F80ED;
    border-radius: 8px;
    color:#fff;
    font-family: 'Poppins',sans-serif;
    padding: 4px 2px;
	border: none;
	cursor: pointer;
	outline: inherit;
    margin: 4px 4px;
}
